* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.about {
  background: rgb(134, 0, 186);
  background-image: linear-gradient(
    90deg,
    rgba(134, 0, 186, 1) 29%,
    rgba(70, 0, 97, 1) 81%
  );
  padding: 4rem;
  color: white;
}

.about h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.about .about-main {
  display: flex;
  width: 75%;
  margin: auto;
}

.about .about-description h3 {
  margin-top: 1rem;
}

.about .about-description p {
  font-style: italic;
}

.about .about-main-image {
  margin-right: 3rem;
  width: 450px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about .about-main-image:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.project img {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem;
}

.project .title {
  font-weight: 500;
}

.project div {
  margin-bottom: 0.3rem;
}
