* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body .hero {
  height: 100vh;
  width: 100%;
  background: rgb(134, 0, 186);
  background-image: linear-gradient(
    90deg,
    rgba(134, 0, 186, 1) 29%,
    rgba(70, 0, 97, 1) 81%
  );
  background-size: 180% 180%;
  animation: BackgroundAnimation 30s ease infinite;
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body .hero .bg-image {
  height: 101vh;
  width: 100%;
  background-image: url("../images/super_heroes.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10rem;
}

body .hero .container {
  max-width: 50%;
}

body .hero .container .text {
  color: white;
  font-size: xx-large;
  font-weight: normal;
}

body .hero .container .button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body .hero .container .hero-button {
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.3rem 1rem;
  color: purple;
  text-decoration: none;
  font-weight: 500;
  margin-top: 1rem;
}

body .hero .container .hero-button:not(:first-child) {
  margin-left: 1rem;
  background-color: transparent;
  color: white;
}

body .hero .container .hero-button:not(:first-child):hover {
  text-decoration: underline;
}
